/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size  : 17px;
    color: #1c1c1c;
}
/* ==================================================================
    BASIC GRID FOR PROFILE PIC
================================================================== */

.franklin-content .row {
  display: block; }

.franklin-content .left {
  float: left;
  margin-right: 15px; }

.franklin-content .right {
    float: right; }

.franklin-content .container img {
    width: auto;
    padding-left: 0;
    border-radius: 10px; }

.franklin-content .footnote {
    position: relative;
    top: -0.5em;
    font-size: 70%;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
    text-decoration: none;
    color: #a6a2a0;
    text-decoration: underline; }

.page-foot {
    font-size: 80%;
    font-family: Arial, serif;
    color: #a6a2a0;
    text-align: center;
    margin-top: 6em;
    border-top: 1px solid lightgrey;
    padding-top: 2em;
    margin-bottom: 4em; }

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-content {
    position: relative;
    padding-left: 12.5%;
    padding-right: 12.5%;
    line-height: 1.35em; }

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
    .franklin-content {
        width: 705px;
        margin-left: auto;
        margin-right: auto; }
    }

/* on narrow device, reduce margins */
@media (max-width: 480px) {
    .franklin-content {
        padding-left: 6%;
        padding-right: 6%; }
    }

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 { 
    font-size: 24px;
    font-family: 'Yozakura' ;}
.franklin-content h2 { font-size: 22px; }
.franklin-content h3 { font-size: 20px; }

.franklin-content h1, h2, h3, h4, h5, h6 {
    text-align: left; }

.franklin-content h1 {
    position: relative;
    color: rgba(0,0,0,0.56);
    border-bottom: double ;
    padding: 0.5em 0;
    margin: 1.5em 0;
    }

.franklin-content h2 {
    position: relative;
    padding: 10px 26px 5px 5px;
    background: rgba(253,237,228,0.5);
    color: #2d2d2d;
    line-height: 1;
    border-bottom: solid 4px rgb(250,219,218);
    /* z-index: -2; */
}

.franklin-content h3 {
    position: relative;
    padding: 0.25em 0;
}

.franklin-content h3::after{
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(250,219,218),rgb(253,237,228));
    background: linear-gradient(to right, rgb(250,219,218),rgb(253,237,228));
}
.franklin-content h4 {
    position: relative;
    padding-left: 1.2em;/*アイコン分のスペース*/
    line-height: 1.4;}

.franklin-content h4:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: rgb(246,189,192); /*アイコン色*/
  font-weight: 900;
}

.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover {text-decoration: none;}
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover {text-decoration: none;}
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover {text-decoration: none;}
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover {text-decoration: none;}
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover {text-decoration: none;}
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover {text-decoration: none;}

.franklin-content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;}
.franklin-content th, td{
    padding: 10px;
    border: 1px solid black;}

.franklin-content blockquote {
    background: #eeeeee;
    border-left: 7px solid #a8a8a8;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-style: italic;}

.franklin-content blockquote p {
    display: inline; }

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* spacing between bullet points */
.franklin-content li p {
        margin: 3px 0; }

.franklin-content a {
    color: #004de6;
    text-decoration: none; }

.franklin-content a:hover {
    text-decoration: underline; }

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a  { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
    font-size: 70%;
    vertical-align: super;
    line-height: 0; }

.franklin-content table.fndef  {
    margin: 0;
    margin-bottom: 10px;}
.franklin-content .fndef tr, td {
    padding: 0;
    border: 0;
    text-align: left;}
.franklin-content .fndef tr {
    border-left: 2px solid lightgray;
    }
.franklin-content .fndef td.fndef-backref {
    vertical-align: top;
    font-size: 70%;
    padding-left: 5px;}
.franklin-content .fndef td.fndef-content {
    font-size: 80%;
    padding-left: 10px;
    width: 100%;}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content img {
    width: 70%;
    text-align: center;
    padding-left: 10%; }

.franklin-content .img-small img {
    width: 50%;
    text-align: center;
    padding-left: 20%; }

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
    display: inline-block; } /* overwrite katex settings */

.katex-display::after {
    counter-increment: eqnum;
    content: "(" counter(eqnum) ")";
    position: relative;
    float: right;
    padding-right: 5px; }

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
    background-color: rgba(248,246,222,0.05);
    padding: 0.1em 0.2em;
    border-radius: 2px;
    font-size: 90%;
}

/* .franklin-content code { */
    /* background-color: rgba(27,31,35,0.05); */
    /* padding: 0.1em 0.2em; */
    /* border-radius: 2px; */
    /* font-size: 90%; } */

.hljs {
    font-size: 90%;
    line-height: 1.35em;
    border-radius: 10px; }

.hljs-meta, .hljs-metas, .hljs-metap { font-weight: bold; }

.hljs-meta { color: rgb(25, 179, 51); }

.hljs-metas { color: red; }

.hljs-metap { color: rgb(51, 131, 231); }

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
    background-color: #EEF3F5;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid #4C9CF1; }

 /* admomonition note */
.note {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  /* background-color:  #b8dffa; */
  background-color:  rgba(210,204,230,0.5);
  color:rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1em;
  border-color: #209cee; 
}
.note .content {
  padding: 10px;
  padding-left: 12px;
}
.note .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  /* background: #209cee; */
  background: rgb(210,204,230);
}

 /* admonition success */
.success {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  /* background-color:  #9beeb8; */
  background-color: rgba(193,220,141,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1em;
}
.success .content {
  padding: 10px;
  padding-left: 12px;
}
.success .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  /* background: #22c35b; */
  background: rgb(193,220,141);
}
 /* admonition warning */
.warning {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  /* background-color: #fff3c5; */
  background-color: rgba(255,238,125,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1em;
}
.warning .content {
  padding: 10px;
  padding-left: 12px;
}
.warning .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: rgb(163,163,162);
  /* background: #ffdd57; */
  background: rgb(255,238,125);
}
 /* admonition danger*/
.danger {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  /* background-color: #ff857e; */
  background-color: rgba(236,177,207,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1em;
}
.danger .content {
  padding: 10px;
  padding-left: 12px;
}
.danger .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background: rgb(236,177,207);
  /* background: #da0b00; */
}
 /* admonition compat*/
.compat {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  /* background-color: #99e6f0; */
  background-color: rgba(153,205,141,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1em;
}
.compat .content {
  padding: 10px;
  padding-left: 12px;
}
.compat .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  /* background: #1db5c9; */
  background: rgb(153,205,141);
}

/* myBtn */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(201,202,202); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(24,24,120); /* Add a dark-grey background on hover */
  }

/* mytoc */
.franklin-toc {
    background-color:rgb(247,248,248);
    border: true;
    border-radius: 10px;
    font-size: 12px;
    display: inline-block;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0%;
}
.franklin-toc li {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
/* icard */
.column {
    float:left;
    width:30%;
    margin-bottom:16px;
    padding:0 8px; }
  @media (max-width:62rem) {
    .column {
      width:45%;
      display:block; }
    }
  @media (max-width:30rem){
    .column {
      width:95%;
      display:block;}
    }
  .card { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); }
  .card img {
    padding-left:0;
    padding-top:10px;
    height: 100px;
    text-align: center;}
  .container { padding: 0 16px; }
  .container::after, .row::after{
    content: "";
    clear: both;
    display: table; }
  .title { 
    color: rgba(0,0,0,0.56);
    font-weight: bolder;
   }
  .vitae { margin-top: 0.5em; }
  .discription {
    font-size: smaller;
  }
  .email {
    font-family: courier;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%; }
  .button:hover{ background-color: #555; }


  /* supports question 3 */
.code-output code.plaintext.hljs {
  background-color: rgba(236,243,207,0.7);
  /* color:rgba(233, 209, 280) */
}

/* 次の記事・前の記事 */
.prev-next-link { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}
.prev-next-link a {
  border-bottom: 1px #ddd solid;
  display: block; 
  text-decoration: none;
  padding: 14px 40px;
  color: #0bd;
}
.prev-next-link a:hover {
  background-color: #f6f6f6;
}
.prev-next-link a:first-child {
  border-top: 1px #ddd solid;
}
.prev-next-label {
  font-size: .825rem;
  color: #000;
  margin-bottom: 10px;
}
@media ( min-width: 600px) {
  .prev-next-link {
    display: flex;
  }
  .prev-next-link a {
    flex: 1;
  }
  .prev-next-link a,
  .prev-next-link a:first-child {
    border: none;
  }
  .next-link {
    text-align: right;
  }
}


.sns-container{display:table;width:100%;table-layout:fixed}
.sns-container.top{padding:1em 10%}
@media (max-width:600px){
  .sns-container.top{padding:1em 6%}
}
.sns-box{
  -webkit-transition:all .1s ease-in-out;
  -moz-transition:all .1s ease-in-out;
  -ms-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  display:table-cell;
  backface-visibility:hidden
}
.sns-box:hover{opacity:.8}
.sns-box span.name{font-size:.6em}
.sns-box a{
  display:block;
  color:#fff;
  padding:.3em 0 .2em;
  text-align:center;
  font-size:1.3em
}
.sns-box a:hover{
  color:#fff;
  text-decoration:none
}
.sns-box a span{padding:0}
.b-twitter{background:#55acee}
.b-facebook{background:#3b5998}
.b-hatena{background:#008fde}
.b-pocket{background:#d3505a}
.b-feedly{background:#2bb24c}
.b-line{background:rgb(5,199,86)}



[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-line:before {
	content: "\e009";
}
.icon-hatena:before {
	content: "\e00a";
}
.icon-feedly:before {
	content: "\e007";
}

/* マーカー */
.marker {
background: linear-gradient(transparent 60%, rgb(253,237,228) 0%);
}

.titleimage img {
    padding-left: 0;
    width: 100%;
    }